html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    gap: 1%;
}
.wrap_1,.wrap_2,.wrap_3,.wrap_4,.wrap_5,.wrap_6,.wrap_7,.wrap_8,.wrap_9,.wrap_10{
    width: 20%;
    /* height: fit-content; */
    /* min-height: 10%; */
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(188, 143, 143, 0.171);
    margin: 1%;
    padding: 1%;
}

button{
    width: 80px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10%;
    align-self: flex-end;

}
textarea{
    margin-top: 5px;
    resize: vertical;
    width: 90%;
    border: solid orange 2px;
}
input{
    margin-top: 5px;
    width: 90%;
}
hr{
    border: solid 2px;
    background: black;
    margin: 0;
    width: 90%;
    margin-top: 10px;
}
.inner_wrap{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.material-symbols-outlined{
    width: 4%;
    height: 4%;
}
.textarea_0_9{
    margin-top: 5px;
    width: 90%;
    height: fit-content;
    border: solid orange 2px;
    padding: 2px;
    font-family: monospace;
    order: 0;
}
.selected{
    display: inline;
    margin: 0;
    padding: 0;
    width: fit-content;
    background-color: rgba(41, 108, 209, 0.288);
}
.dz{
    border: red solid;
}
.dz::before{
content: 'DZ';
}