html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}
.buttonHolder{
    position: absolute;
    top: 150px;
    right: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.list {
    display: inline-block;
    width: 300px;
    height: auto;
    border-style: solid;
    text-align: center;
    position: fixed;
    top:5%;
    right: 1%;
}
button{
    width: 180px;
    height: 35px;
}
.workers{
    margin: 0.5%;
    width: 8%;
    text-align: center;
}
.controlButton {
    border: black;
    /* width: 24.7% */
}

.showAll {
    background-color: green;
}

.blackList {
    background-color: orange;
}

.fire {
    background-color: red;
}

.hide {
    background-color: orangered;
}

.displayed {
    display: block;
}

.nonDisplayed {
    display: none;
}
